<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
    <script type='text/javascript' src='js/search.js' defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
</head>

<body class='container'>

  <header>
    <%- include('./partials/header_off'); %>
    
  </header>
<%-
%>
  <main>
    <div class='row'>
      <div class='col-sm-8'>
        <div class='jumbotron'>
          <h1>This is great</h1>
          <p>Welcome to PlacesToStay!</p>
        </div>
      </div>

      <div class='container-fluid'>
        <div class='well'>
          <p>Insert the location</p>
          <input id='accommodation_location'/>
          <input type='button' id='accommodation_search' value='search'/>
          <div id = 'accommodation_results'><div id='map1' style='width:800px; height:600px'>
          </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

  </body>

</html>