<link rel="stylesheet" href="mystyle.css">

<body>
    <div>
        <a href="#default" class="logo">CompanyLogo</a>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#search">Search</a>
        <a href="#book">Book</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#logoff">Logoff</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>